//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 31 22:02:55 2024
//! **************************************************************************

SCHEMATIC START;
COMP "anodo_pad<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "anodo_pad<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodo_pad<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodo_pad<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "seg_pad<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg_pad<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg_pad<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg_pad<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg_pad<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg_pad<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg_pad<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg_pad<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "fila_pad<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "fila_pad<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "fila_pad<3>" LOCATE = SITE "C12" LEVEL 1;
COMP "fila_pad<4>" LOCATE = SITE "D12" LEVEL 1;
COMP "EppASTB" LOCATE = SITE "H1" LEVEL 1;
PIN EppASTB_pin<0> = BEL "EppASTB" PINNAME PAD;
PIN "EppASTB_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "EppDSTB" LOCATE = SITE "K4" LEVEL 1;
PIN EppDSTB_pin<0> = BEL "EppDSTB" PINNAME PAD;
PIN "EppDSTB_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "EppWAIT" LOCATE = SITE "C2" LEVEL 1;
COMP "signo_sal_pad" LOCATE = SITE "L4" LEVEL 1;
COMP "DB<0>" LOCATE = SITE "E1" LEVEL 1;
COMP "DB<1>" LOCATE = SITE "F4" LEVEL 1;
COMP "DB<2>" LOCATE = SITE "F3" LEVEL 1;
COMP "DB<3>" LOCATE = SITE "D2" LEVEL 1;
COMP "DB<4>" LOCATE = SITE "D1" LEVEL 1;
COMP "DB<5>" LOCATE = SITE "H7" LEVEL 1;
COMP "DB<6>" LOCATE = SITE "G6" LEVEL 1;
COMP "DB<7>" LOCATE = SITE "E4" LEVEL 1;
COMP "EppWRITE" LOCATE = SITE "F5" LEVEL 1;
COMP "col_pad<1>" LOCATE = SITE "E11" LEVEL 1;
COMP "col_pad<2>" LOCATE = SITE "F11" LEVEL 1;
COMP "col_pad<3>" LOCATE = SITE "F10" LEVEL 1;
COMP "col_pad<4>" LOCATE = SITE "G11" LEVEL 1;
COMP "ck_100MHz_pad" LOCATE = SITE "V10" LEVEL 1;
COMP "ck_display_externo_pad" LOCATE = SITE "L3" LEVEL 1;
COMP "reset_pad" LOCATE = SITE "B8" LEVEL 1;
COMP "led_pad<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "led_pad<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "led_pad<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "led_pad<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "led_pad<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "led_pad<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "led_pad<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "led_pad<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "ce_display_neg_pad<1>" LOCATE = SITE "J3" LEVEL 1;
COMP "ce_display_neg_pad<2>" LOCATE = SITE "J1" LEVEL 1;
COMP "display_pad<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "ce_display_neg_pad<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "display_pad<1>" LOCATE = SITE "L7" LEVEL 1;
COMP "ce_display_neg_pad<4>" LOCATE = SITE "K5" LEVEL 1;
COMP "display_pad<2>" LOCATE = SITE "K6" LEVEL 1;
COMP "display_pad<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "display_pad<4>" LOCATE = SITE "G1" LEVEL 1;
COMP "display_pad<5>" LOCATE = SITE "J7" LEVEL 1;
COMP "display_pad<6>" LOCATE = SITE "J6" LEVEL 1;
COMP "display_pad<7>" LOCATE = SITE "F2" LEVEL 1;
COMP "boton_aba_pad" LOCATE = SITE "C9" LEVEL 1;
COMP "uart_rx_pad" LOCATE = SITE "N17" LEVEL 1;
COMP "uart_tx_pad" LOCATE = SITE "N18" LEVEL 1;
COMP "boton_der_pad" LOCATE = SITE "D9" LEVEL 1;
COMP "sw_pad<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw_pad<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw_pad<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw_pad<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw_pad<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw_pad<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw_pad<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw_pad<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "boton_arr_pad" LOCATE = SITE "A8" LEVEL 1;
COMP "boton_izq_pad" LOCATE = SITE "C4" LEVEL 1;
PIN
        XLXI_872/XLXI_36/XLXI_5/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.WIDE_PRIM9.ram_pins<26>
        = BEL
        "XLXI_872/XLXI_36/XLXI_5/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.WIDE_PRIM9.ram"
        PINNAME CLKAWRCLK;
PIN
        XLXI_872/XLXI_36/XLXI_5/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.WIDE_PRIM9.ram_pins<27>
        = BEL
        "XLXI_872/XLXI_36/XLXI_5/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.WIDE_PRIM9.ram"
        PINNAME CLKBRDCLK;
PIN XLXI_872/XLXI_36/XLXI_6/blk00000001/blk00000004_pins<92> = BEL
        "XLXI_872/XLXI_36/XLXI_6/blk00000001/blk00000004" PINNAME CLK;
PIN SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1> = BEL
        "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1" PINNAME O;
PIN XLXI_306/dcm_sp_inst_pins<1> = BEL "XLXI_306/dcm_sp_inst" PINNAME CLKFB;
TIMEGRP XLXI_306_clk2x = BEL "XLXI_867/XLXI_9/XLXI_1" BEL
        "XLXI_867/XLXI_17_3/XLXI_2" BEL "XLXI_867/XLXI_17_3/XLXI_1" BEL
        "XLXI_867/XLXI_17_2/XLXI_2" BEL "XLXI_867/XLXI_17_2/XLXI_1" BEL
        "XLXI_867/XLXI_17_1/XLXI_2" BEL "XLXI_867/XLXI_17_1/XLXI_1" BEL
        "XLXI_867/XLXI_17_0/XLXI_2" BEL "XLXI_867/XLXI_17_0/XLXI_1" BEL
        "XLXI_867/XLXI_10/XLXI_2" BEL "XLXI_867/XLXI_10/XLXI_1" BEL
        "XLXI_306/clkout1_buf" BEL "XLXI_865/cnt_16" BEL "XLXI_865/cnt_15" BEL
        "XLXI_865/cnt_14" BEL "XLXI_865/cnt_13" BEL "XLXI_865/cnt_12" BEL
        "XLXI_865/cnt_11" BEL "XLXI_865/cnt_10" BEL "XLXI_865/cnt_9" BEL
        "XLXI_865/cnt_8" BEL "XLXI_865/cnt_7" BEL "XLXI_865/cnt_6" BEL
        "XLXI_865/cnt_5" BEL "XLXI_865/cnt_4" BEL "XLXI_865/cnt_3" BEL
        "XLXI_865/cnt_2" BEL "XLXI_865/cnt_1" BEL "XLXI_865/cnt_0" BEL
        "XLXI_872/XLXI_34/XLXI_6" BEL "XLXI_872/XLXI_34/XLXI_4" BEL
        "XLXI_872/XLXI_3/XLXI_37" BEL "XLXI_872/XLXI_3/XLXI_26" BEL
        "XLXI_872/XLXI_3/XLXI_6" BEL "XLXI_872/XLXI_3/XLXI_14/Q2" BEL
        "XLXI_872/XLXI_3/XLXI_14/Q1" BEL "XLXI_872/XLXI_3/XLXI_14/Q0" BEL
        "XLXI_872/XLXI_3/XLXI_14/Q3" BEL "XLXI_872/XLXI_1/XLXI_3/XLXI_61" BEL
        "XLXI_872/XLXI_1/XLXI_3/XLXI_60" BEL "XLXI_872/XLXI_1/XLXI_3/XLXI_58"
        BEL "XLXI_872/XLXI_1/XLXI_3/XLXI_57" BEL
        "XLXI_872/XLXI_1/XLXI_3/XLXI_56" BEL "XLXI_872/XLXI_1/XLXI_2/XLXI_61"
        BEL "XLXI_872/XLXI_1/XLXI_2/XLXI_60" BEL
        "XLXI_872/XLXI_1/XLXI_2/XLXI_58" BEL "XLXI_872/XLXI_1/XLXI_2/XLXI_57"
        BEL "XLXI_872/XLXI_1/XLXI_2/XLXI_56" BEL
        "XLXI_872/XLXI_1/XLXI_1/XLXI_61" BEL "XLXI_872/XLXI_1/XLXI_1/XLXI_60"
        BEL "XLXI_872/XLXI_1/XLXI_1/XLXI_58" BEL
        "XLXI_872/XLXI_1/XLXI_1/XLXI_57" BEL "XLXI_872/XLXI_1/XLXI_1/XLXI_56"
        BEL "XLXI_872/XLXI_1/XLXI_23/Q_0" BEL "XLXI_872/XLXI_1/XLXI_23/Q_1"
        BEL "XLXI_872/XLXI_1/XLXI_23/Q_2" BEL "XLXI_872/XLXI_1/XLXI_23/Q_3"
        BEL "XLXI_872/XLXI_1/XLXI_23/Q_4" BEL "XLXI_872/XLXI_1/XLXI_23/Q_5"
        BEL "XLXI_872/XLXI_1/XLXI_23/Q_6" BEL "XLXI_872/XLXI_1/XLXI_23/Q_7"
        BEL "XLXI_872/XLXI_1/XLXI_16/Q_0" BEL "XLXI_872/XLXI_1/XLXI_16/Q_1"
        BEL "XLXI_872/XLXI_1/XLXI_16/Q_2" BEL "XLXI_872/XLXI_1/XLXI_16/Q_3"
        BEL "XLXI_872/XLXI_1/XLXI_16/Q_4" BEL "XLXI_872/XLXI_1/XLXI_16/Q_5"
        BEL "XLXI_872/XLXI_1/XLXI_16/Q_6" BEL "XLXI_872/XLXI_1/XLXI_16/Q_7"
        BEL "XLXI_872/XLXI_1/XLXI_22/Sreg0_FSM_FFd2" BEL
        "XLXI_872/XLXI_1/XLXI_22/Sreg0_FSM_FFd3" BEL
        "XLXI_872/XLXI_1/XLXI_22/Sreg0_FSM_FFd1" BEL
        "XLXI_872/XLXI_1/XLXI_22/Sreg0_machine.contador_3" BEL
        "XLXI_872/XLXI_1/XLXI_22/Sreg0_machine.contador_2" BEL
        "XLXI_872/XLXI_1/XLXI_22/Sreg0_machine.contador_1" BEL
        "XLXI_872/XLXI_1/XLXI_22/Sreg0_machine.contador_0" BEL
        "XLXI_872/XLXI_6/XLXI_20_3" BEL "XLXI_872/XLXI_6/XLXI_20_2" BEL
        "XLXI_872/XLXI_6/XLXI_20_1" BEL "XLXI_872/XLXI_6/XLXI_20_0" BEL
        "XLXI_872/XLXI_6/XLXI_19_3" BEL "XLXI_872/XLXI_6/XLXI_19_2" BEL
        "XLXI_872/XLXI_6/XLXI_19_1" BEL "XLXI_872/XLXI_6/XLXI_19_0" BEL
        "XLXI_872/XLXI_6/XLXI_18_3" BEL "XLXI_872/XLXI_6/XLXI_18_2" BEL
        "XLXI_872/XLXI_6/XLXI_18_1" BEL "XLXI_872/XLXI_6/XLXI_18_0" BEL
        "XLXI_872/XLXI_33/XLXI_31/Q2" BEL "XLXI_872/XLXI_33/XLXI_31/Q1" BEL
        "XLXI_872/XLXI_33/XLXI_31/Q0" BEL "XLXI_872/XLXI_33/XLXI_31/Q3" BEL
        "XLXI_872/XLXI_33/XLXI_35/Q2" BEL "XLXI_872/XLXI_33/XLXI_35/Q1" BEL
        "XLXI_872/XLXI_33/XLXI_35/Q0" BEL "XLXI_872/XLXI_33/XLXI_35/Q3" BEL
        "XLXI_872/XLXI_33/XLXI_37/Q2" BEL "XLXI_872/XLXI_33/XLXI_37/Q1" BEL
        "XLXI_872/XLXI_33/XLXI_37/Q0" BEL "XLXI_872/XLXI_33/XLXI_37/Q3" BEL
        "XLXI_872/XLXI_33/XLXI_9/XLXI_1_7" BEL
        "XLXI_872/XLXI_33/XLXI_9/XLXI_1_6" BEL
        "XLXI_872/XLXI_33/XLXI_9/XLXI_1_5" BEL
        "XLXI_872/XLXI_33/XLXI_9/XLXI_1_4" BEL
        "XLXI_872/XLXI_33/XLXI_9/XLXI_1_3" BEL
        "XLXI_872/XLXI_33/XLXI_9/XLXI_1_2" BEL
        "XLXI_872/XLXI_33/XLXI_9/XLXI_1_1" BEL
        "XLXI_872/XLXI_33/XLXI_9/XLXI_1_0" BEL
        "XLXI_872/XLXI_33/XLXI_3/XLXI_41" BEL
        "XLXI_872/XLXI_33/XLXI_3/XLXI_40" BEL
        "XLXI_872/XLXI_33/XLXI_3/XLXI_39" BEL
        "XLXI_872/XLXI_33/XLXI_3/XLXI_38" BEL
        "XLXI_872/XLXI_33/XLXI_2/XLXI_41" BEL
        "XLXI_872/XLXI_33/XLXI_2/XLXI_40" BEL
        "XLXI_872/XLXI_33/XLXI_2/XLXI_39" BEL
        "XLXI_872/XLXI_33/XLXI_2/XLXI_38" BEL
        "XLXI_872/XLXI_33/XLXI_1/XLXI_41" BEL
        "XLXI_872/XLXI_33/XLXI_1/XLXI_40" BEL
        "XLXI_872/XLXI_33/XLXI_1/XLXI_39" BEL
        "XLXI_872/XLXI_33/XLXI_1/XLXI_38" BEL
        "XLXI_872/XLXI_33/XLXI_46/Sreg0_FSM_FFd2" BEL
        "XLXI_872/XLXI_33/XLXI_46/Sreg0_FSM_FFd3" BEL
        "XLXI_872/XLXI_33/XLXI_46/Sreg0_FSM_FFd1" BEL
        "XLXI_872/XLXI_33/XLXI_46/Sreg0_machine.contador_3" BEL
        "XLXI_872/XLXI_33/XLXI_46/Sreg0_machine.contador_2" BEL
        "XLXI_872/XLXI_33/XLXI_46/Sreg0_machine.contador_1" BEL
        "XLXI_872/XLXI_33/XLXI_46/Sreg0_machine.contador_0" BEL
        "XLXI_872/XLXI_36/XLXI_16/Sreg0_machine.vIndice_0" BEL
        "XLXI_872/XLXI_36/XLXI_16/Sreg0_machine.vIndice_1" BEL
        "XLXI_872/XLXI_36/XLXI_16/Sreg0_machine.vIndice_2" BEL
        "XLXI_872/XLXI_36/XLXI_16/Sreg0_machine.vIndice_3" BEL
        "XLXI_872/XLXI_36/XLXI_16/indice_0" BEL
        "XLXI_872/XLXI_36/XLXI_16/indice_1" BEL
        "XLXI_872/XLXI_36/XLXI_16/indice_2" BEL
        "XLXI_872/XLXI_36/XLXI_16/Sreg0_FSM_FFd3" BEL
        "XLXI_872/XLXI_36/XLXI_16/Sreg0_FSM_FFd4" BEL
        "XLXI_872/XLXI_36/XLXI_16/Sreg0_FSM_FFd2" BEL
        "XLXI_872/XLXI_36/XLXI_16/Sreg0_FSM_FFd1" BEL
        "XLXI_872/XLXI_36/XLXI_18_7" BEL "XLXI_872/XLXI_36/XLXI_18_6" BEL
        "XLXI_872/XLXI_36/XLXI_18_5" BEL "XLXI_872/XLXI_36/XLXI_18_4" BEL
        "XLXI_872/XLXI_36/XLXI_18_3" BEL "XLXI_872/XLXI_36/XLXI_18_2" BEL
        "XLXI_872/XLXI_36/XLXI_18_1" BEL "XLXI_872/XLXI_36/XLXI_18_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_23_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_23_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_23_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_23_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_23_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_23_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_23_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_23_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_21_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_21_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_21_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_21_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_21_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_21_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_21_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_21_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_20_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_20_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_20_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_20_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_20_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_20_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_20_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_20_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_19_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_19_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_19_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_19_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_19_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_19_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_19_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_19_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_18_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_18_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_18_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_18_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_18_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_18_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_18_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_18_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_17_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_17_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_17_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_17_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_17_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_17_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_17_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_17_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_16_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_16_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_16_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_16_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_16_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_16_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_16_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_16_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_15_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_15_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_15_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_15_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_15_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_15_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_15_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_15_0" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_11_7" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_11_6" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_11_5" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_11_4" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_11_3" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_11_2" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_11_1" BEL
        "XLXI_872/XLXI_36/XLXI_2/XLXI_11_0" BEL "XLXI_872/XLXI_1/XLXI_22/ldZ"
        BEL "XLXI_872/XLXI_1/XLXI_22/dato_nuevo" BEL
        "XLXI_872/XLXI_1/XLXI_22/ce_reg_salida" BEL
        "XLXI_872/XLXI_33/XLXI_46/initZ" BEL
        "XLXI_872/XLXI_33/XLXI_46/ce_reg_salida" BEL
        "XLXI_872/XLXI_33/XLXI_46/dato_nuevo" BEL
        "XLXI_872/XLXI_33/XLXI_46/load" BEL
        "XLXI_872/XLXI_36/XLXI_16/inicializar" BEL
        "XLXI_872/XLXI_36/XLXI_16/multiplicar" BEL
        "XLXI_872/XLXI_36/XLXI_16/acumular" BEL
        "XLXI_872/XLXI_36/XLXI_16/guardar" BEL
        "XLXI_872/XLXI_36/XLXI_16/dato_sal_sync" BEL "XLXI_872/XLXI_32/XLXI_5"
        BEL "XLXI_872/XLXI_34/XLXI_2/blk00000001/blk00000011" BEL
        "XLXI_872/XLXI_34/XLXI_2/blk00000001/blk00000012" BEL
        "XLXI_872/XLXI_34/XLXI_2/blk00000001/blk00000013" BEL
        "XLXI_872/XLXI_34/XLXI_2/blk00000001/blk00000014" BEL
        "XLXI_872/XLXI_34/XLXI_2/blk00000001/blk00000015" BEL
        "XLXI_872/XLXI_34/XLXI_2/blk00000001/blk00000016" BEL
        "XLXI_872/XLXI_34/XLXI_2/blk00000001/blk00000017" BEL
        "XLXI_872/XLXI_34/XLXI_2/blk00000001/blk00000018" PIN
        "XLXI_872/XLXI_36/XLXI_5/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.WIDE_PRIM9.ram_pins<26>"
        PIN
        "XLXI_872/XLXI_36/XLXI_5/U0/xst_blk_mem_generator/gnativebmg.native_blk_mem_gen/valid.cstr/ramloop[0].ram.r/s6_init.ram/SP.WIDE_PRIM9.ram_pins<27>"
        PIN "XLXI_872/XLXI_36/XLXI_6/blk00000001/blk00000004_pins<92>" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk00000024" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk00000025" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk00000026" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk00000027" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk00000028" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk00000029" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk0000002a" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk0000002b" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk0000002c" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk0000002d" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk0000002e" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk0000002f" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk00000030" BEL
        "XLXI_872/XLXI_36/XLXI_7/blk00000001/blk00000031" BEL
        "XLXI_306/clkf_buf" PIN "SP6_INS_BUFIO2FB_DCM_ML_BUFIO2FB_1_pins<1>"
        PIN "XLXI_306/dcm_sp_inst_pins<1>";
TIMEGRP cuenta_dcm<13> = BEL "XLXI_1/XLXI_8/XLXI_1" BEL "XLXI_1/XLXI_7/XLXI_1"
        BEL "XLXI_1/XLXI_6/XLXI_1" BEL "XLXI_1/XLXI_5/XLXI_1" BEL "XLXI_314"
        BEL "XLXI_279_4/q_tmp" BEL "XLXI_279_3/q_tmp" BEL "XLXI_279_2/q_tmp"
        BEL "XLXI_279_1/q_tmp" BEL "XLXI_1/XLXI_1/XLXI_2/XLXI_12" BEL
        "XLXI_1/XLXI_1/XLXI_15/Q2" BEL "XLXI_1/XLXI_1/XLXI_15/Q1" BEL
        "XLXI_1/XLXI_1/XLXI_15/Q0" BEL "XLXI_1/XLXI_1/XLXI_15/Q3" BEL
        "XLXI_1/XLXI_1/XLXI_12/Q2" BEL "XLXI_1/XLXI_1/XLXI_12/Q1" BEL
        "XLXI_1/XLXI_1/XLXI_12/Q0" BEL "XLXI_1/XLXI_1/XLXI_12/Q3" BEL
        "XLXI_1/XLXI_1/XLXI_9/Q2" BEL "XLXI_1/XLXI_1/XLXI_9/Q1" BEL
        "XLXI_1/XLXI_1/XLXI_9/Q0" BEL "XLXI_1/XLXI_1/XLXI_9/Q3" BEL
        "XLXI_1/XLXI_1/XLXI_1/Q2" BEL "XLXI_1/XLXI_1/XLXI_1/Q1" BEL
        "XLXI_1/XLXI_1/XLXI_1/Q0" BEL "XLXI_1/XLXI_1/XLXI_1/Q3" BEL
        "XLXI_1/XLXI_39/XLXI_10/Q2" BEL "XLXI_1/XLXI_39/XLXI_10/Q1" BEL
        "XLXI_1/XLXI_39/XLXI_10/Q0" BEL "XLXI_1/XLXI_39/XLXI_10/Q3" BEL
        "XLXI_1/XLXI_39/XLXI_41/XLXI_1" BEL "XLXI_1/XLXI_39/XLXI_12" BEL
        "XLXI_1/XLXI_1/XLXI_2/XLXI_1" BEL "XLXI_1/XLXI_1/XLXI_2/XLXI_2" BEL
        "XLXI_1/XLXI_1/XLXI_2/XLXI_3" BEL "XLXI_309/blk00000001/blk00000025"
        BEL "XLXI_1/XLXI_1/XLXI_3/blk00000001/blk00000009" BEL
        "XLXI_1/XLXI_1/XLXI_3/blk00000001/blk0000000a" BEL
        "XLXI_1/XLXI_1/XLXI_3/blk00000001/blk0000000b";
PIN XLXI_142_pins<1> = BEL "XLXI_142" PINNAME CK0;
PIN XLXI_142_pins<2> = BEL "XLXI_142" PINNAME CK1;
TIMEGRP cuenta_dcm<7> = BEL "XLXI_14" BEL "XLXI_309/blk00000001/blk00000025"
        BEL "XLXI_309/blk00000001/blk00000026" BEL
        "XLXI_309/blk00000001/blk00000027" BEL
        "XLXI_309/blk00000001/blk00000028" BEL
        "XLXI_309/blk00000001/blk00000029" BEL
        "XLXI_309/blk00000001/blk0000002a" BEL
        "XLXI_309/blk00000001/blk0000002b" PIN "XLXI_142_pins<1>" PIN
        "XLXI_142_pins<2>" PIN "XLXI_142_pins<1>" PIN "XLXI_142_pins<2>";
TIMEGRP XLXI_306_clkfx = BEL "XLXI_306/clkout2_buf" BEL
        "XLXI_309/blk00000001/blk00000025" BEL
        "XLXI_309/blk00000001/blk00000026" BEL
        "XLXI_309/blk00000001/blk00000027" BEL
        "XLXI_309/blk00000001/blk00000028" BEL
        "XLXI_309/blk00000001/blk00000029" BEL
        "XLXI_309/blk00000001/blk0000002a" BEL
        "XLXI_309/blk00000001/blk0000002b" BEL
        "XLXI_309/blk00000001/blk0000002c" BEL
        "XLXI_309/blk00000001/blk0000002d" BEL
        "XLXI_309/blk00000001/blk0000002e" BEL
        "XLXI_309/blk00000001/blk0000002f" BEL
        "XLXI_309/blk00000001/blk00000030" BEL
        "XLXI_309/blk00000001/blk00000031" BEL
        "XLXI_309/blk00000001/blk00000032";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN XLXI_306/dcm_sp_inst_pins<3> = BEL "XLXI_306/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP ck_100MHz_pad = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "XLXI_306/dcm_sp_inst_pins<3>";
TS_ck_100MHz_pad = PERIOD TIMEGRP "ck_100MHz_pad" 100 MHz HIGH 50%;
TS_cuenta_dcm_7_ = PERIOD TIMEGRP "cuenta_dcm<7>" 0.02 MHz HIGH 50%;
TS_cuenta_dcm_13_ = PERIOD TIMEGRP "cuenta_dcm<13>" 0.002 MHz HIGH 50%;
TS_XLXI_306_clk2x = PERIOD TIMEGRP "XLXI_306_clk2x" TS_ck_100MHz_pad HIGH 50%;
TS_XLXI_306_clkfx = PERIOD TIMEGRP "XLXI_306_clkfx" TS_ck_100MHz_pad * 0.05
        HIGH 50%;
SCHEMATIC END;

